<div class="container">
  <div class="row" style="height: 70px"></div>
</div>

<div class="col-xs-10 col-xs-push-1 container">
  <div class="md-well">
    <h1>Edit <%= @list.name %></h1>

    <%= render 'form' %>

    <div class="text-center">
      <%= link_to "Back to My Lists", lists_path %>
    </div> <!-- text-center -->

  </div> <!-- well -->
</div> <!-- container -->
